.header {
    position: relative;
    z-index: 3;
    margin: 0 auto;
    background-color: var(--color-primary);
    width: 90%;
    min-height: 70px;
    padding-top: 10px;
    box-shadow: -10px 6px 20px -6px rgba(100, 149, 237, 1);
}

.header-row {
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked ~ .container-modal {
    display: flex;
}

.content-modal {
    width: 800px;
    padding: 20px;
    background-color: #fcfcfc;
    border-radius: 4px;
    max-height: 95vh;
    overflow: auto;
    box-shadow: 3px 8px 8px 1px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
}

.content-modal p {
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.content-modal .btn-cerrar {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label {
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover {
    background-color: #185e83;
}

.cerrar-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.message-session {
    display: block;
    width: calc(100% + 40px);
    background-color: var(--background-color-message-session);
    color: black;
    margin: 5px -25px 5px -5px;
    padding: 5px 3px;
}

@media screen and (max-width: 800px) {
    .content-modal {
        width: 550px;
    }
}

@media screen and (max-width: 550px) {
    .content-modal {
        width: 380px;
        padding: 10px 10px;
    }

    .container-input {
        width: 95%;
        display: block;
    }

    .input-text {
        width: 95%;
    }
}

@media screen and (max-width: 400px) {
    .content-modal {
        width: 300px;
        padding: 10px 10px;
    }
}
